body{
background:yellow;
} 




.v1{
border: 1px solid red;
background:rgb(255, 255, 255);
padding-left: 40px;
width: 400px;
}

.v2{
border: 1px solid red;
background:rgb(255, 255, 255);
padding-right: 40px;
width: 400px;
}